.board {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 2px solid black;
}

.board-square {
  background-color: white;
}

/* checkerboard pattern of 8 */
.board-square:nth-child(16n + 2),
.board-square:nth-child(16n + 4),
.board-square:nth-child(16n + 6),
.board-square:nth-child(16n + 8),
/* next row  of 8 */
.board-square:nth-child(16n + 9),
.board-square:nth-child(16n + 11),
.board-square:nth-child(16n + 13),
.board-square:nth-child(16n + 15) {
  background-color: #878787;
}

/* rotate top players pieces so they can be seen easily on a phone */
.board-square:nth-child(-n + 16) {
  transform: rotateX(180deg);
}
