@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 214, 219, 220;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 40, 49, 54;
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}

* {
  touch-action: manipulation;
}

html,
body,
#root {
  height: 100%;
}

.game {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 80vmin 1fr;
  grid-template-columns: 80vmin;
}
